PORT=3000
NODE_ENV=development
CORS_ORIGIN=
PUBLIC_API_URL=http://localhost:3000
POSTGRES_PASSWORD=uvpn_local_dev_password

DATABASE_URL="postgresql://uvpn:uvpn_local_dev_password@localhost:5432/uvpn?schema=public"

JWT_ACCESS_SECRET="replace-with-random-secret-at-least-32-characters"
JWT_REFRESH_SECRET="replace-with-a-different-random-secret-at-least-32-characters"

JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="30d"

NOWPAYMENTS_API_KEY=""
NOWPAYMENTS_IPN_SECRET=""
NOWPAYMENTS_API_URL="https://api.nowpayments.io"
